*~
*.bak
elpa/
eln-cache/
anaconda-mode/
eshell/
elisp/old/
elisp/gforth/
elisp/latex-help/
elisp/hasky-cabal/
url/
backup/
games/
auto-save-alist/
transient/
.cache/
.emacs.desktop
.emacs.desktop.save
.emacs.desktop.lock
bookmarks
.mc-lists.el
recentf
*.elc
places
projects
emojis/
opam-user-setup.el
elisp/.gitignore
request/
var/
.gitignore
elisp/perso/shadow-settings.el
