*~
*.bak
elpa/
eln-cache/
anaconda-mode/
eshell/
elisp.old/
url/
backup/
games/
auto-save-alist/
transient/
.cache/
.emacs.desktop
.emacs.desktop.lock
bookmarks
.mc-lists.el
recentf
*.elc
places
projects
emojis/
opam-user-setup.el
elisp/.gitignore
request/
var/
.gitignore
elisp/perso/shadow-settings.el
